<div class="saldo-container container fast">

    <h3 class="title">Saldo:</h3>

    <form>

        <div class="input">
            <input [ngModel]="saldo |currency: 'DOP'" [ngModelOptions]="{standalone: true, updateOn:'blur'}" (ngModelChange)="saldo=$event" type="text" readonly>
            <span><i class="fas fa-cash-register"></i></span>
        </div>

    </form>


    <div class="actions">
        
        <div class="action">
            <button class="gasto" routerLink="/gastos"><i class="fa fa-minus"></i> añadir gasto</button>
        </div>  

            
        <div class="action">
            <button class="ingreso" routerLink="/ingresos"><i class="fa fa-plus"></i> añadir ingreso</button>
        </div>  

    </div>

    <div class="gastos-ingresos-container fast">
        
        <div class="container gasto">

            <span class="title">Gastos</span>
            
            <ul class="list" *ngIf="!loadingGastos">
                <li *ngFor="let gasto of gastos">
                    <div class="nombre">{{ gasto.gasto }}</div>
                    <span class="cantidad">{{ gasto.cantidad | currency: 'DOP' }}
                        <button (click)="eliminarGasto( gasto._id )"><i class="fas fa-minus"></i></button>
                    </span>                    
                </li>
            </ul>

            <div class="div-loading" *ngIf="loadingGastos">
                <i class="fas fa-spinner fa-spin fa-5x"></i>
            </div>

        </div>

        <div class="container ingreso fast">
            
            <span class="title">Ingresos</span>

            <ul class="list" *ngIf="!loadingIngresos">
                <li *ngFor="let ingreso of ingresos">
                    <div class="nombre">{{ ingreso.ingreso }}</div>
                    <span class="cantidad">{{ ingreso.cantidad | currency: 'DOP' }}
                        <button (click)="eliminarIngreso( ingreso._id )"><i class="fas fa-minus"></i></button>
                    </span>                    
                </li>
            </ul>

            <div class="div-loading" *ngIf="loadingIngresos">
                <i class="fas fa-spinner fa-spin fa-5x"></i>
            </div>

        </div>

    </div>

</div>
