<div class="saldo-container container">

    <h3 class="title">Saldo:</h3>

    <form>

        <div class="input">
            <input [(ngModel)]="saldo" [ngModelOptions]="{standalone: true}"  type="text" >
        </div>

    </form>


    <div class="actions">
        
        <div class="action">
            <button class="gasto" routerLink="/gastos"><i class="fa fa-minus"></i> añadir gasto</button>
        </div>  

            
        <div class="action">
            <button class="ingreso" routerLink="/ingresos"><i class="fa fa-plus"></i> añadir ingreso</button>
        </div>  

    </div>

    <div class="gastos-ingresos-container">
        
        <div class="container gasto">

            <span class="title">Gastos</span>
            
            <ul class="list" *ngIf="gastos.length">
                <li *ngFor="let gasto of gastos">
                    <div class="nombre">{{ gasto.gasto }}</div>
                    <span class="cantidad">{{ gasto.cantidad }}
                        <button (click)="eliminarGasto( gasto._id )"><i class="fas fa-minus"></i></button>
                    </span>                    
                </li>
            </ul>

        </div>

        <div class="container ingreso">
            
            <span class="title">Ingresos</span>

            <ul class="list" *ngIf="ingresos.length">
                <li *ngFor="let ingreso of ingresos">
                    <div class="nombre">{{ ingreso.ingreso }}</div>
                    <span class="cantidad">{{ ingreso.cantidad }}
                        <button (click)="eliminarIngreso( ingreso._id )"><i class="fas fa-minus"></i></button>
                    </span>                    
                </li>
            </ul>

        </div>

    </div>

</div>
