

.title{
    font-size: 30px;
    color: rgba(0, 0, 0, 0.6);
}


.input{
    margin-bottom: 100px;
    margin-top: 40px;
    position: relative;
    input{
        width: 90%;
        padding: 15px 25px;
        font-size: 26px;
        border-radius: 10px;
        border: none;
        background-color: rgba(18, 18, 19, 0.432);
        color: white;
        font-weight: bold;
        box-shadow: 0.1px 0.1px 3px #a3a3a3; 
    }
    span{
        position: absolute;
        top: 10px;
        right: 75px;
        color: rgb(173, 173, 173);
        font-size: 30px;
    }
}
    

.actions {
    display: flex;
    justify-content: space-around;
    .action{
        button {
            padding: 10px;
            font-size: 22px;
            border-radius: 6px;
            border: none;
            color: white;
            cursor: pointer;
        }
        .ingreso{
            background-color: rgb(13, 126, 41);
        }    
        .gasto{
            background-color: rgb(187, 66, 66);
        }
    }
}




.gastos-ingresos-container{
    display: flex;
    justify-content: space-between;
    .container{
        width: 49%;
        height: 400px;
        overflow: auto;
        margin-top: 30px;
        border-radius: 5px;
        box-shadow: 0.1px 0.1px 8px #696969; 
        .title{
            font-size: 25px;

        }
        ul {
            list-style: none;
            li{
                padding: 13px 0;
                display: flex;
                justify-content: space-around;
                font-size: 19px;
                border-bottom: 1px solid rgba(187, 187, 187, 0.315);
                .cantidad{
                    font-weight: bolder;
                }
                button{
                    font-size: 14px;
                    margin-left: 3px;
                    padding: 1px 5px;
                    border-radius: 100%;
                    border: none;
                    background-color: rgba(196, 190, 190, 0.74);
                    cursor: pointer;
                }
            }
        }
    }
    .gasto{
        background-color:salmon;
    }
    .ingreso{
        background-color: darkcyan;
    }
}