
.back {
    margin-bottom: 40px;
    text-align: left;
    padding: 0 30px;
    button {
        padding: 12px 30px;
        font-size: 16px;
        border-radius: 5px;
        border: none;
        background-color: rgba(255, 255, 255, 0.644);
        cursor: pointer;
    }
}


.title {
    font-size: 35px;
    color: white;
}


.inputs{
    margin-top: 30px;
    margin-bottom: 200px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    .input{
        display: flex;
        flex-direction: column;
        .title{
            font-size: 18px;
            margin-bottom: 10px;
            color: black;
            font-weight: bolder;
        }        
        input, select{
            padding: 12px 5px;
            padding-left: 60px;
            border-radius: 5px;
            font-size: 20px;
            border: none;
            color: rgb(0, 0, 0);
            background-color: rgba(0, 0, 0, .4);
        }
        select{
            padding-left: 90px;
            padding-right: 20px;
        }
        .input-container{
         position: relative;
            span{
                position: absolute;
                font-size: 25px;
                color: rgba(0, 0, 0, 0.336);
                top: 5px;
                left: 12px;
                padding: 0 10px;
                border-right: 1px solid rgba(56, 56, 56, 0.295);
            }   
        }    
        a,button {
            width: 50%;
            margin-top: 15px;
            padding: 11px;
            font-size: 14px;
            border-radius: 5px;
            border: none;
            cursor: pointer;
            background-color: rgba(72, 136, 122, 0.7);
            align-self: center;
        }
        .addCat{
            padding: 8px 25px;
            margin-top: 20px;
        }       
    }            
}

.button{
    button {
        padding: 15px;
        font-size: 18px;
        border-radius: 5px;
        border: none;
        background-color: rgba(41, 131, 38, 0.568);
    }
}



.pop-up{
    margin-top: 30px;
    .agregar-categoria{
        display: flex;
        align-items: center;
        justify-content: space-between;
        input {
            width: 60%;
        }
        button {
            width: 20%;
            padding: 10px;
        }
    }
}