<div class="ingresos-container container">

    <div class="back">
        <button (click)="back()"><i class="far fa-hand-point-left"></i> Regresar</button>
    </div>

    <h5 class="title">Ingresos</h5>

    <form 
            [formGroup]="inputsIngresos"
            (ngSubmit)="agregarIngreso()">

        <div class="inputs">

            <div class="input">
                <span class="title">
                    Digíte la cantidad
                </span>
                <div class="input-container">
                    <input type="number" formControlName="cantidad">
                    <span>
                        <i class="fas fa-coins"></i>
                    </span>
                </div>
            </div>
    
            <div class="input">
                <span class="title">
                    Categoría del ingreso
                </span>                

                <div class="input-container">
                    <input type="text" formControlName="ingreso" [(ngModel)]="categoria">
                    <span>
                        <i class="fab fa-pagelines"></i>
                    </span>

                    <button class="category" (click)="open( $event )" data-bs-toggle="modal" data-bs-target="#exampleModalIn" ><i class="fas fa-plus"></i></button>
                </div>

            </div>
    
        </div>

        <div class="buttons-cat">
            <div class="buttons" id="buttonsIn">
                <button type="button" (click)="selectCategoria( $event, 'Salario')"> Salario </button>
                <button type="button" (click)="selectCategoria( $event, 'Depósito')"> Depósito </button>
                <button type="button" (click)="selectCategoria( $event, 'Cuenta por Cobrar')"> Cuenta por Cobrar </button>
                <button type="button" (click)="selectCategoria( $event, 'Pasivos')"> Pasivos </button>
                
            </div>
        </div>


        <div class="button">
            <button type="submit">Añadir ingreso</button>
        </div>

    </form>
   

</div>




<div class="modal fade" id="exampleModalIn" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Añadir categoría</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <input #cat type="text" class="form-control" id="exampleFormControlInput1" placeholder="Escriba la categoría...">
            <p *ngIf="invalidCat" class="mt-2 w-100 py-2 bg-danger text-white text-center rounded-3">Categoria vacía</p>
        </div>
        <div class="modal-footer">
          <button type="button" id="cerrarModalIn" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" (click)="crearCategoria( cat.value )" class="btn btn-success">Agregar categoria</button>
        </div>
      </div>
    </div>
  </div>