<div class="ingresos-container container">

    <div class="back">
        <button (click)="back()"><i class="far fa-hand-point-left"></i> Regresar</button>
    </div>

    <h5 class="title">Ingresos</h5>

    <form 
            [formGroup]="inputsIngresos"
            (ngSubmit)="agregarIngreso()">

        <div class="inputs">

            <div class="input">
                <span class="title">
                    Digíte la cantidad
                </span>
                <div class="input-container">
                    <input type="number" formControlName="cantidad">
                    <span>
                        <i class="fas fa-coins"></i>
                    </span>
                </div>
            </div>
    
            <div class="input">
                <span class="title">
                    Seleccione la categoría del ingreso
                </span>                

                <div class="input-container">
                    <select formControlName="ingreso" id="categories2">
                        <option value="">Selccionar cateogoria</option>
                        <option value="Ahorro">Ahorro</option>
                        <option value="Depósito">Depósitos</option>
                        <option value="Salario">Salario</option>
                        
                    </select>
                    <span>
                        <i class="fab fa-pagelines"></i>
                    </span>
                </div>

                <div class="pop-up">
                    
                    <a (click)="mostrar = !mostrar"> Añadir categoria </a>
    
                    <div *ngIf="mostrar" class="agregar-categoria">
                        
    
                        <input type="text" class="addCat" id="nuevaCategoria2">
                
                        <button (click)="crearCategoria( $event )">Añadir</button>
                
                    </div>
                    
                </div>
            </div>
    
        </div>

        <div class="alert" *ngIf="!valid">
            TODOS LOS CAMPOS SON OBLIGATIOS
        </div>


        <div class="button">
            <button type="submit">Añadir ingreso</button>
        </div>

    </form>
   

</div>

