/* You can add global styles to this file, and also import other style files */

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(169, 219, 159);

} 
    
.container{
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px 0;
    text-align: center;
}


input {
    outline: 0px;
}


button{
    outline: 0px;
}



.newCatbutton{

    padding: 10px 20px;
    font-size: 17px;
    background-color: rgba(141, 86, 41, 0.568);
    color: white;
    margin: 12px;
    border: none;
    border-radius: 4px;

}

.newCatbuttonIn{

    padding: 10px 20px;
    font-size: 17px;
    background-color: rgba(41, 141, 54, 0.568);
    color: white;
    margin: 12px;
    border: none;
    border-radius: 4px;

}








/* ANIMACIONES */

.fast{
    -webkit-animation-duration:0.2s;
    animation-duration:0.2s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both;
}