/* You can add global styles to this file, and also import other style files */

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(169, 219, 159);
} 
    
.container{
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    padding: 30px 0;
    text-align: center;
}


input {
    outline: 0px;
}


button{
    outline: 0px;
}









/* ANIMACIONES */

.fast{
    -webkit-animation-duration:0.2s;
    animation-duration:0.2s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both;
}